<ul class="nav">
    {{#foreach navigation}}
        <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}">
            <a href="{{url}}" {{#match label "^(X|TikTok)$"}}target="_blank" rel="noopener noreferrer"{{/match}}>{{label}}</a>
        </li>
    {{/foreach}}
</ul>
