<nav class="pagination" aria-label="Pagination">
    <div id="infinite-scroll-marker"></div>
    {{#if next}}
        {{!-- The JavaScript uses this hidden link to know what URL to fetch next --}}
        <a class="older-posts" href="{{page_url next}}" style="display:none;"></a>
    {{/if}}
</nav>
