<nav class="pagination" aria-label="Pagination">
    <div id="infinite-scroll-marker"></div>
    {{#if next}}
        <a class="older-posts" href="{{page_url next}}" style="display:none;">Older Posts</a>
    {{/if}}
</nav>
