{{!< default}}

<main class="site-main">

  <header class="feed-header gh-canvas">
    <div class="feed-header-wrapper">
      <h1 class="feed-header-title">Founder’s Corner</h1>
      <p class="feed-header-desc">Full access to the what, why, and how</p>
      <p class="feed-header-desc">Welcome to my journey—how I’m using AI to build a newsletter and educational ecosystem from scratch.</p>
    </div>
  </header>

  <section class="gh-canvas">
    <div class="gh-feed">
      {{#foreach posts}}
        {{> "loop"}}
      {{/foreach}}
    </div>
  </section>

  {{pagination}}

</main>
