{{!< default}}

<main class="site-main">

  <header class="feed-header gh-canvas">
    <div class="feed-header-wrapper">
      {{#get "pages" filter="slug:prompt-library" limit="1"}}
        {{#foreach pages}}
          <h1 class="feed-header-title">{{title}}</h1>
          {{#if custom_excerpt}}<p class="feed-header-desc">{{custom_excerpt}}</p>{{/if}}
          {{{html}}}
        {{/foreach}}
      {{/get}}
    </div>
  </header>

  <section class="gh-section">
    <div class="gh-container">
      <div class="gh-feed">
        {{#foreach posts}}
          {{> "loop"}}
        {{/foreach}}
      </div>
      {{pagination}}
    </div>
  </section>

</main>
