{{!< default}}

<main class="site-main">

  <header class="feed-header gh-canvas">
    <div class="feed-header-wrapper">
      <h1 class="feed-header-title">Prompt Library</h1>
      <p class="feed-header-desc">All my prompts — the good and the bad</p>
      <p class="feed-header-desc">Insights into the backbone of MindOverMoney.ai, and how my prompts evolved to generate the content you see.</p>
    </div>
  </header>

  <section class="gh-canvas">
    <div class="gh-feed">
      {{#foreach posts}}
        {{> "loop"}}
      {{/foreach}}
    </div>
  </section>

  {{pagination}}

</main>
